<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      layout:decorator="template.html">
<head>
<meta charset="utf-8" />
<title>Liste etudiants</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
 th:href="@{/css/bootstrap.min.css}"/>
 <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
 th:href="@{/css/myStyle.css}"/>
</head>
<body class="spacer" layout:fragment="content">
<div class="container spacer"  >
 <a th:href="@{form}">Saisir un etudiant</a>
</div>
<div class="container spacer">
   <form th:action="Index" method="get">
    <div class="form-group">
    <label> Mot cle</label>
    <input type="text" name="motCle" th:value="${motCle}"/>
    <button type="submit">chercher</button>
    </div>
   </form>
</div>
<div class="container spacer">
	<table class="table table-striped">
			 <tr> 
			     <th>Id</th><th>Nom</th><th>Date</th></th><th>Email</th><th>Photo</th>
			 </tr>
			 <tr th:each="e:${etudiants.content}">
			      <td th:text="${e.id}"></td>
			      <td th:text="${e.nom}"></td>
			      <td th:text="${e.dateNaissance}"></td>
			      <td th:text="${e.email}"></td>
			      <td>
			        <img class="img-circle"th:src="@{ getPhoto(id=${e.id}) }" width="100" height="100"/>
			      </td>
			      <td><a onclick="return confirm('etes vous sure de vouloir supprimer')" th:href="@{supprimer(id=${e.id})}">Supprimer</a>
			      </td>
			      <td><a th:href="@{editer(id=${e.id})}">Editer</a>
			      </td>
			 </tr>
	</table>
</div>
<div class="container">
	<ul class="nav nav-pills">
	 <li th:each="p:${pages}"  th:class="${p==pageCourante}?active:'' ">
	 <a th:text="${p}" th:href="@{Index(pg=${p},motCle=${motCle})}"></a>
	</ul>

</div>

</body>
</html>