<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<title>Liste etudiants</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
 th:href="@{/css/bootstrap.min.css}"/>
 <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
 th:href="@{/css/myStyle.css}"/>
</head>
<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-collapse">
		  <ul class="nav navbar-nav">
		      <li class="active"><a th:href="@{Index}">Home</a></li>
		      <li ><a href="#" th:href="@{Index}">Etudiants</a></li>
		      <li ><a href="#" th:href="@{task}">Etudiants</a></li>
		   </ul>
		 </div>
		</div>
		<div layout:fragment="content"></div>
</body>
</html>